## importing the necessary packages

In [149]:
import numpy as np
import pandas as pd  
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score as AS
from sklearn.metrics import f1_score
from sklearn import tree

importing data

In [150]:
data = pd.read_csv('Decision_Tree_ Dataset.csv', header = None)

In [151]:
data.head(4)

     0      1    2     3      4    5
0    1      2    3     4    sum  NaN
1  201  10018  250  3046  13515  yes
2  205  10016  395  3044  13660  yes
3  257  10129  109  3251  13746  yes

In [152]:
headers = ['Intial-Payment','Last-Payment','Credit-Score','House-Number','pup','Result']
data.columns = headers

In [153]:
data.drop('pup', axis = 1, inplace = True)

In [154]:
data.dropna(subset=["Result"],  axis=0,  inplace = True)

In [155]:
data.isnull().sum()

Intial-Payment    0
Last-Payment      0
Credit-Score      0
House-Number      0
Result            0
dtype: int64

In [156]:
data.head(4)

   Intial-Payment  Last-Payment  Credit-Score  House-Number Result
1             201         10018           250          3046    yes
2             205         10016           395          3044    yes
3             257         10129           109          3251    yes
4             246         10064           324          3137    yes

In [164]:
len(data)

1000

In [165]:
data.describe

<bound method NDFrame.describe of       Intial-Payment  Last-Payment  Credit-Score  House-Number Result
1                201         10018           250          3046    yes
2                205         10016           395          3044    yes
3                257         10129           109          3251    yes
4                246         10064           324          3137    yes
5                117         10115           496          3094    yes
...              ...           ...           ...           ...    ...
996              413         14914           523          4683     No
997              359         14423           927          4838     No
998              316         14872           613          4760     No
999              305         14926           897          4572     No
1000             168         14798           834          4937     No

[1000 rows x 5 columns]>

 Separating my data

In [157]:
X = data.values[:, 0:2]
y = data.values[:,4]

splitting data into test and train

In [158]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 100)

function to perform training with entropy

In [159]:
model = DecisionTreeClassifier(criterion = 'entropy', random_state = 100
, max_depth = 2,  min_samples_leaf = 5)

In [160]:
model.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=2, min_samples_leaf=5,
                       random_state=100)

using the function to make prediction

In [161]:
y_pred = model.predict(X_test)
y_pred

array(['yes', 'yes', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'yes',
       'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'yes',
       'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes',
       'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes',
       'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No',
       'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes',
       'No', 'No', 'No', 'No', 'No', 'No', 'yes', 'No', 'yes', 'No',
       'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'yes',
       'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No'], dtype=object)

Testing the accuracy

In [162]:
AS(y_test,y_pred) * 100

88.4